@import 'Variables.scss';

.project {
  margin-top: 2em;
  display: block;
}

.projectRow-hidden{
  display: none;
}

.project-title {
  font-size: $sub-title-font-size;
  margin-top: 1em;
}

.project-pic {
  width: 20em;
  height: 20em;
}

//-----DRAWER-------
.drawerActive {
  min-height: 50em;
}

.drawerInactive {
  display: none;
}

.drawer-pic {
  padding-left: 3em;
  width: 25em;
  height: 25em;
}

.drawer-title {
  font-size: 5em;
  color: black;
  text-transform: uppercase;
}

.drawer-des {
  margin-top: 1em;
  font-size: 1.5em;
}

.drawer-subtitle {
  font-size: 1.875em;
}

.drawer-tech-icon {
  width: 10em;
  height: 10em;
  margin: 0 1em;
}
