// NOTES:
// - Actual color scheme: https://coolors.co/1f7a8c-171d1c-f7f4f9-edb438-3f37dd
// - em to px conversion ---> http://pxtoem.com/
// - GREY color scheme: https://coolors.co/000000-3c3e44-696773-d1d1d1-fdfffc



// colors
$black: #000;
$white: #FFF;
$dark-grey: #3C3E44;
$medium-grey: #696773;
$light-grey: #D1D1D1;


//font sizes
$sect-title-font-size: 1.825em;
$std-font-size: 1em;
$sub-title-font-size: 1.5em;
// $sub-title-font-size: 1.125em;
