.project {
  margin-top: 2em;
  display: block; }

.projectRow-hidden {
  display: none; }

.project-title {
  font-size: 1.5em;
  margin-top: 1em; }

.project-pic {
  width: 20em;
  height: 20em; }

.drawerActive {
  display: block; }

.drawerInactive {
  display: none; }

.drawer-pic {
  width: 20em;
  height: 20em; }

.drawer-title {
  font-size: 1.825;
  margin-top: 1em;
  color: green; }

.drawer-des {
  font-size: 1.5; }

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.content {
  flex: 1; }

.navbar {
  background: #3C3E44; }
  .navbar a {
    color: #FFF !important; }
  .navbar.navbar-default {
    margin-bottom: 0; }

.footer {
  background: #3C3E44;
  color: #FFF;
  text-align: center; }

.std-land-section {
  padding: 1em 0;
  text-align: center; }

.std-land-sect {
  padding: 1em 0;
  text-align: center;
  height: 35em; }

.land-title {
  margin: .5em 0 1em 0;
  font-size: 1.825em;
  color: #000; }

#banner {
  background-color: #D1D1D1;
  position: relative; }
  #banner h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 10em; }

.sub-mission-title {
  font-size: 1.5em; }

.sub-mission-pic {
  width: 15em;
  height: 15em; }

.sub-mission-desc {
  font-size: 1em;
  margin-top: 1em; }

#contact-form {
  background-color: #D1D1D1; }
  #contact-form form {
    margin: 2em 0; }
  #contact-form .input-name {
    padding-right: 1em;
    width: 5em; }
  #contact-form .input {
    width: 25em; }

#blog-preview {
  background-color: #D1D1D1; }
  #blog-preview ul {
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0; }

.blog-pic {
  width: 25em;
  height: 25em;
  padding-left: 1.5em;
  padding-bottom: 1.5em; }

.blog-title {
  font-size: 1.5em;
  padding-top: 2.5em; }

.team-title {
  font-size: 1.5em; }

.team-pic {
  width: 15em;
  height: 15em; }

.team-desc {
  font-size: 1em;
  margin: 1em 0; }
